<div class="card" style="border-radius: 15px;">
    <!-- Display user name -->
    <h3 class="text-center mb-3"> <%= loggedInUserName %> </h3>
    <hr>
    <div class="card-body p-5">
        <% if (Object.keys(userVoteHistoryDict).length === 0) { %>
            <span style="color: red">You did not vote in any elections!</span>
        <% } else { %>
            <% let electionCnt = 1; %>
            <% let currentNrElection, currentElectionStopDate %>
            <% const currentDate = new Date(); %>
            <% Object.keys(userVoteHistoryDict).forEach(function(electionId) { %>
                <!-- Display the election start and end dates -->
                <h5> <%= electionCnt %>. <%= electionId %> </h5>
                <ul>
                    <% userVoteHistoryDict[electionId].forEach(function(row) { %>
                        <% currentNrElection = row.nr_election %>
                        <% currentElectionStopDate = row.election_stop %>
                        <li>
                            <!-- Display who voted and the vote date -->
                            voted <b><%= row.elected %></b> on <b><%= row.vote_date %></b>
                        </li>
                    <% }) %>
                </ul>
                <!-- Display the winner only for the finished elections-->
                <% if (electionWinners.hasOwnProperty(currentNrElection) && currentElectionStopDate < currentDate) { %>
                    <p style="text-align: center; color: green;"> <b>PRESIDENT:</b> <%= electionWinners[currentNrElection].elected %> ~ <%= electionWinners[currentNrElection].total_votes %> total votes</p>
                  <% } %>
                <% ++electionCnt %>
            <% }) %>
        <% } %>
    </div>
</div>

<%- include('partials/bottom-buttons.ejs') %>